#content.style-scope.ytd-app {
    max-height: 100vh !important;
    overflow-y: hidden !important;
}

#primary.style-scope.ytd-watch-flexy {
    max-height: 100vh !important;
    overflow-y: auto !important;
}

#secondary.style-scope.ytd-watch-flexy {
    max-height: 90vh !important;
    overflow-y: auto !important;
}

#primary-inner {
    min-height: 1300px !important;
}